# directories
.yarn/
artifacts/
build/
cache/
coverage/
dist/
lib/
node_modules/
typechain/

# files
*.env
*.log
*.tsbuildinfo
.pnp.*
.solcover.js
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
