#Buidler files
cache
artifacts
node_modules
build

#coverage file
coverage
coverage.json


#vs code files
.vscode

contracts/libraries/XYZSwapLibrary.sol.original

#environment file
.env

#notebook file
simulation/.ipynb_checkpoints/
